.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(45deg, #273452, #354363 48%, #445274);
  flex-direction: column;
}

.Main-Title {
  color: aliceblue
}

.label {
  color: aliceblue;
}
.Display {
  padding-top: 20px;
}
.News-Title {
  background-color: white; 
  font-size: 20px; 
  border: 2px solid;
  padding-left: 10px;
  padding-right: 10px;
}
.News-Summary {
  background-color: aliceblue;
  text-align: left;
  padding: 24px;
  border-radius: 20px;
}


label {
  text-align: left;
  padding-left: 0.25rem 0;
}

input {
  margin: 0.5rem 0;
}


button {
  border: none;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  
}